input {
	stdin{}
		file {
		path => "/root/EnumerationTool/Data/fullNmapResults.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
		}
}
filter {
	csv {
		 separator => ";"
		columns => ["protocol", "port", "domain", "request_status", 			"screenshot_path", "source_path"]
	}
} 
output {
	elasticsearch {
		hosts => "localhost:9200"
		index => "network_enumeration_results"
		document_type => "enumeration_results"
	}
	stdout {}		
}

