curl -X PUT "http://localhost:9200/predict" -H "Content-Type:"image/png" -d'{
       "service":"imageserv",
       "parameters":{
         "mllib":{
           "gpu":true
         },
         "input":{
           "width":800,
           "height":1008
         },
         "output":{
           "best":3,
           "template":"{{#body}} {{#predictions}} \n
{ \"index\": {\"_index\": \"images\", \"_type\":\"img\" } }
{\"doc\": { \"uri\":\"{{uri}}\",\"categories\": [ {{#classes}}
{ \"category\":\"{{cat}}\",\"score\":{{prob}} } {{^last}},{{/last}}{{/classes}} ] } } {{/predictions}}
{{/body}} }",
           "network":{
             "http_method":"PUT"
             "url":"http://localhost:9200",
           }
         }
       },
       "data":[
         "/root/EnumerationTool/WebCapture/screenshots/10.138.89.191.png"
       ]
     }'
