input {
	stdin{}
		file {
		path => "/root/EnumerationTool/Data/fullNmapResults.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
		}
}
filter {
	csv {
		 separator => ";"
		columns => ["host", "hostname", "hostname_type", "protocol", "port", 
		"name", "state", "product", "extrainfo", "reason", "version", "conf", "cpe"]
	}
} 
output {
	elasticsearch {
		hosts => "localhost:9200"
		index => "network_enumeration_results"
		document_type => "enumeration_results"
	}
	stdout {}		
}

